@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.links {
    @include margin-bottom(1);
    @include margin-top(1);
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        &-item {
            display: list-item;
            padding: 0;
            margin: 0;
            font-size: $typographic-smallest-font-size;
            color: $typographic-base-font-color;
            font-weight: 350;
            border: 0;
            &:hover,
            &:focus {
                color: $color-primary;
            }
        }
    }
}
