@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.sidebar {
    width: 100%;
    &__inner {
        position: sticky;
        padding: 25px 20px 0;
        top: 0;
        bottom: 100%;
    }
    &__author {
        &-photo {
            display: inline-block;
            margin-bottom: 0;
            border-radius: 50%;
            background-clip: padding-box;
        }
        &-title {
            color: #111111;
            font-family: $typographic-font-family;
            font-weight: bold;
            font-size: $typographic-base-font-size;
            font-style: normal;
            line-height: 1.2;
            @include line-height(1.6);
            @include margin(.5, 0, .5, 0);
            &-link {
                color: $color-base;
                &:hover,
                &:focus {
                    color: $color-primary;
                }
            }
        }
        &-subtitle {
            color: $color-gray;
            @include line-height(1);
            @include margin-bottom(1);
        }
    }
}

@include breakpoint-sm {
    .sidebar {
        lost-column: 3/12;
        height: inherit;
        &__inner {
            padding: 60px 60px 0px 60px;
        }
    }
}

@include breakpoint-md {
    .sidebar {
        height: 1000vh;
        lost-column: 1/5;
        &__inner {
            padding: 60px;
        }
    }
}
